PROFILE=local
NODE_ENV=development

PORT=3008

JWT_SECRET=someSecrets
JWT_EXPIRY_TIMEFRAME=3600


REDIS_HOST=localhost
REDIS_PORT=6379

DB_TYPE=postgres
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_DATABASE=
DB_ENTITIES=dist/src/modules/**/entities/**/*.entity{.ts,.js}
DB_MIGRATIONS=dist/db/migrations/*{.ts,.js}

JWT_SECRET=someSecrets
JWT_EXPIRY_TIMEFRAME=3600

ADMIN_SECRET_KEY=sometext

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SERVER_NAME=api
SMTP_USER=
SMTP_PASSWORD=