PROFILE=local
NODE_ENV=development

PORT=3008

JWT_SECRET=someSecrets
JWT_EXPIRY_TIMEFRAME=3600


REDIS_HOST=localhost
REDIS_PORT=6379

DB_TYPE=postgres
DB_USERNAME=nacho
DB_PASSWORD=nacho
DB_HOST=localhost
DB_NAME=hng_nestjs
DB_ENTITIES=dist/**/entities/**/*.entity{.ts,.js}
DB_MIGRATIONS=dist/migrations/*{.ts,.js}

JWT_SECRET=nikolakepler
JWT_EXPIRY_TIMEFRAME=3600

ADMIN_SECRET_KEY=nikolakepler

GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_ID=219247925548-r0mj3lopu0t9e5r4o2qct89hr4c3v9da.apps.googleusercontent.com

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SERVER_NAME=api
SMTP_USER=
SMTP_PASSWORD=