<html>
  <head>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; } .container { width:
      100%; max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; } .header { text-align: center;
      padding: 10px 0; } .content { margin: 20px 0; } .footer { text-align: center; color: #888888; font-size: 12px;
      padding: 10px 0; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <img
          src='https://www.shutterstock.com/image-vector/circle-line-simple-design-logo-600nw-2174926871.jpg'
          alt='Logo'
          width='150'
        />
        <h2>Remote Bingo App Notification</h2>
      </div>
      <div class='content'>
        <p>Hello {{recipient_name}},</p>
        <br />
        <h3>{{message}}</h3>
      </div>
      <div class='footer'>
        <p>If you have any questions, feel free to
          <a style='color: blue' href='mailto:{{{support_email}}}'><u> contact us </u></a>.</p>
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>