<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Activation Link Expired</title>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
      * { box-sizing: border-box; margin: 0; padding: 0; font-family: Inter; } body { min-height: 100svh; } header {
      display: flex; width: 100%; height: 7.625rem; justify-content: center; align-items: center; background: rgba(225,
      214, 214, 0.4); } h2 { color: #121a26; font-feature-settings: "liga" off, "clig" off; font-size: 1.5rem;
      font-weight: 600; } .template-main { display: flex; padding: 3.5rem; flex-direction: column; align-items: center;
      gap: 3.5rem; max-width: 790px; margin: 0 auto; } .heading { display: flex; flex-direction: column;
      justify-content: center; align-items: center; gap: 0.75rem; } .content { display: flex; flex-direction: column; /*
      justify-content: center; align-items: center; */ gap: 2rem; } .template-header { color:
      var(--Neutral-Colors-Dark-2, #0a0a0a); text-align: center; font-size: 1.5rem; font-weight: 600; }
      .template-subheader { color: rgba(0, 0, 0, 0.8); text-align: center; font-size: 1.125rem; font-weight: 500; }
      .template-receiver-name { color: #111; /* H6/SemiBold */ font-size: 1.125rem; font-weight: 600; }
      .template-welcome-message { color: rgba(17, 17, 17, 0.9); font-size: 1rem; font-weight: 400; }
      .editable-content-title { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600;
      opacity: 0.9; margin-bottom: 1.25rem; } .editable-content { display: flex; flex-direction: column; gap: 1.75rem; }
      .editable-content-list p { opacity: 0.9; color: var(--Neutral-Colors-Dark-2, rgba(17, 17, 17, 0.9)); font-size:
      1rem; font-weight: 400; margin-bottom: 1rem; } .editable-content-list span { color: var(--Neutral-Colors-Dark-2,
      #0a0a0a); font-size: 1rem; font-weight: 600; } .template-btn { display: flex; height: 2.75rem; padding: 0.5rem
      2.5rem; justify-content: center; align-items: center; gap: 0.625rem; border: none; color: White; border-radius:
      0.5rem; align-self: center; background: var(--Primary-Color-Primary-Full-500, #f97316); } .template-farewell p {
      color: #111; /* Body/Medium/small */ font-family: Inter; font-size: 0.875rem; font-weight: 500; margin-bottom:
      0.5rem; } footer { background: #f3efef; display: flex; width: 100%; padding: 2rem 0; justify-content: center; }
      .footer-container { max-width: 790px; width: 100%; padding: 0 3rem; } footer .heading { display: flex;
      flex-direction: row; align-items: center; gap: 2.0625rem; margin-bottom: 1rem; } footer .content { display: flex;
      flex-direction: column; gap: 1.875rem; color: #5b5b5d; font-size: 0.875rem; font-weight: 400; } footer .content >
      span { margin-block-start: 1.3em; } footer .contact-support { color: #111; font-size: 0.875rem; font-weight: 600;
      text-decoration: underline; } footer hr { border-style: dashed; width: 100%; border-color: #969696; }
    </style>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h2>
        <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx='4.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='4.5' cy='14.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='14.5' r='4' fill='#F97316' />
        </svg>
        <span>Boilerplate.</span>
      </h2>
    </header>

    <!-- Main Content -->
    <div class='template-main'>
      <div class='heading'>
        <div class='svg-container' style='margin-bottom: 40px'>
          <svg xmlns='http://www.w3.org/2000/svg' width='206' height='178' viewBox='0 0 206 178' fill='none'>
            <path
              d='M105.985 165.42C157.065 165.42 198.473 160.304 198.473 153.994C198.473 147.683 157.065 142.567 105.985 142.567C54.9047 142.567 13.4961 147.683 13.4961 153.994C13.4961 160.304 54.9047 165.42 105.985 165.42Z'
              fill='#FFF1E8'
            />
            <path
              d='M55.3168 42.3637C51.8499 40.013 47.5818 39.1667 43.4813 40.0171C42.7372 40.1316 42.0381 40.4341 41.4412 40.892C40.0512 42.0653 40.2679 44.2484 39.9 46.0432C39.4503 48.2549 37.9662 50.1478 37.4307 52.3309C37.1199 53.9744 37.1036 55.6588 37.3775 57.3063C38.1584 63.8067 39.716 70.1925 42.0177 76.3208L35.5664 161.32C35.5664 161.32 42.1649 162.387 55.5498 163.454L56.9684 82.5104L55.3209 42.3678L55.3168 42.3637Z'
              fill='#EEA886'
            />
            <path
              d='M47.9805 91.9339L56.5249 126.496V76.6479L52.7269 65.3521L47.9805 91.9339Z'
              fill='url(#paint0_linear_1444_13604)'
            />
            <path
              d='M159.739 43.0916C163.214 40.7572 167.482 39.9314 171.574 40.794C172.318 40.9126 173.021 41.211 173.622 41.6689C175.008 42.8423 174.796 45.0254 175.159 46.8242C175.617 49.036 177.101 50.9288 177.633 53.112C177.944 54.7514 177.96 56.4357 177.678 58.0792C176.901 64.5795 175.347 70.9654 173.046 77.0937L179.468 160.907C179.468 160.907 172.281 162.117 159.444 163.331L158.066 83.2792L159.739 43.0957V43.0916Z'
              fill='#EEA886'
            />
            <path
              d='M168.17 89.4646L165.141 105.037L158.682 119.088L158.113 88.5161L168.17 89.4646Z'
              fill='url(#paint1_linear_1444_13604)'
            />
            <path
              d='M163.646 14.5596H49.285C46.5733 14.5596 44.375 16.7579 44.375 19.4696V87.8784C44.375 90.5901 46.5733 92.7884 49.285 92.7884H163.646C166.358 92.7884 168.556 90.5901 168.556 87.8784V19.4696C168.556 16.7579 166.358 14.5596 163.646 14.5596Z'
              fill='#F97316'
            />
            <path
              d='M163.646 14.5596H49.285C46.5733 14.5596 44.375 16.7579 44.375 19.4696V87.8784C44.375 90.5901 46.5733 92.7884 49.285 92.7884H163.646C166.358 92.7884 168.556 90.5901 168.556 87.8784V19.4696C168.556 16.7579 166.358 14.5596 163.646 14.5596Z'
              fill='url(#paint2_linear_1444_13604)'
            />
            <path
              d='M163.646 11.4238H49.285C46.5733 11.4238 44.375 13.6221 44.375 16.3338V84.7427C44.375 87.4544 46.5733 89.6526 49.285 89.6526H163.646C166.358 89.6526 168.556 87.4544 168.556 84.7427V16.3338C168.556 13.6221 166.358 11.4238 163.646 11.4238Z'
              fill='#F97316'
            />
            <path
              d='M55.3711 44.0359C56.6902 42.5723 58.0939 40.9657 59.582 39.2159L69.1035 28.0713C70.5999 26.436 71.9735 24.6903 73.2082 22.8506H82.1982C81.9448 25.2667 81.8303 27.6993 81.8507 30.1318V44.3916H83.1222C84.5776 44.3794 86.0249 44.2608 87.4639 44.04V52.0285C86.0371 51.8527 84.6021 51.7627 83.1631 51.7627H81.8507V53.9581C81.8099 55.7651 81.9243 57.5681 82.1982 59.3546H73.1673C73.4126 57.5354 73.527 55.7038 73.5148 53.8723V51.7546H61.0783C58.2206 51.7546 56.9737 51.7955 55.3711 51.9263V44.0441V44.0359ZM73.5516 39.3917C73.5516 37.413 73.6415 35.005 73.8173 33.0753C72.9383 34.3018 72.2801 35.1808 71.0945 36.6689L64.6719 44.4775H73.5352L73.5516 39.3917Z'
              fill='white'
            />
            <path
              d='M94.7195 56.0596C93.3213 54.6819 92.2298 53.022 91.5184 51.1905C90.3614 47.9689 89.7809 44.5675 89.8054 41.1415C89.8054 36.53 90.9011 31.7549 92.5732 28.9871C95.2469 24.5105 99.8094 22.0535 105.337 22.0535C109.597 22.0535 113.325 23.5007 115.999 26.1581C117.401 27.5358 118.493 29.1957 119.2 31.0272C120.361 34.261 120.942 37.6788 120.913 41.117C120.913 45.7286 119.817 50.5527 118.149 53.3164C115.516 57.7031 110.905 60.1601 105.333 60.1601C101.032 60.1356 97.3973 58.7292 94.7154 56.0555L94.7195 56.0596ZM98.8282 40.8104C98.8282 48.6639 101.064 52.699 105.41 52.699C109.756 52.699 111.902 48.7498 111.902 40.9698C111.878 33.4188 109.58 29.4614 105.341 29.4614C101.101 29.4614 98.8078 33.6437 98.8078 40.794L98.8323 40.8104H98.8282Z'
              fill='white'
            />
            <path
              d='M123.199 44.0359C124.518 42.5723 125.922 40.9657 127.41 39.2159L136.936 28.0713C138.424 26.436 139.785 24.6903 141.012 22.8506H150.01C149.752 25.2667 149.634 27.6993 149.658 30.1318V44.3916H150.93C152.385 44.3794 153.833 44.2608 155.272 44.04V52.0285C153.845 51.8527 152.41 51.7627 150.971 51.7627H149.658V53.9581C149.618 55.7651 149.736 57.5681 150.01 59.3546H140.971C141.216 57.5354 141.335 55.7038 141.322 53.8723V51.7546H128.906C126.057 51.7546 124.802 51.7955 123.199 51.9263V44.0441V44.0359ZM141.38 39.3917C141.38 37.413 141.47 35.005 141.645 33.0753C140.766 34.3018 140.108 35.1808 138.923 36.6689L132.5 44.4775H141.363L141.38 39.3917Z'
              fill='white'
            />
            <path
              d='M55.7931 72.204C56.5331 72.0813 57.2813 72.0241 58.0294 72.0282C58.937 71.9587 59.8405 72.2244 60.5641 72.7804C61.0915 73.2628 61.3818 73.9538 61.3573 74.6692C61.3941 75.3806 61.1406 76.0756 60.6582 76.5989C59.91 77.2939 58.9125 77.6495 57.8945 77.5882C57.5797 77.6005 57.269 77.5719 56.9624 77.5065V81.1246H55.7891V72.204H55.7931ZM56.9665 76.5539C57.2813 76.6275 57.6042 76.6602 57.9272 76.6479C59.3336 76.6479 60.1921 75.9693 60.1921 74.7183C60.1921 73.4673 59.3458 72.9603 58.0621 72.9603C57.6942 72.9521 57.3262 72.9808 56.9665 73.0543V76.558V76.5539Z'
              fill='white'
            />
            <path
              d='M63.2425 78.2831L62.3022 81.1204H61.1289L64.191 72.0935H65.5851L68.6636 81.1204H67.4207L66.46 78.2831H63.2384H63.2425ZM66.1779 77.3755L65.2908 74.7754C65.0904 74.1908 64.9555 73.6511 64.8206 73.1278C64.6898 73.6634 64.5385 74.2112 64.3709 74.7591L63.4837 77.3755H66.1779Z'
              fill='white'
            />
            <path
              d='M76.6656 80.7198C75.7744 81.0428 74.8381 81.2104 73.8897 81.2186C71.5594 81.4434 69.4866 79.7345 69.2618 77.4042C69.2372 77.1589 69.2372 76.9095 69.2536 76.6602C69.2536 73.966 71.1137 72.0036 74.1391 72.0036C74.9117 71.9832 75.6762 72.1263 76.3917 72.4206L76.1096 73.3691C75.48 73.0952 74.8014 72.9603 74.1145 72.9807C71.915 72.9807 70.4842 74.3462 70.4842 76.607C70.4842 78.8678 71.8619 80.2537 73.9673 80.2537C74.4988 80.2824 75.0262 80.1965 75.5209 80.0084V77.3225H73.6853V76.3822H76.6574V80.7157L76.6656 80.7198Z'
              fill='white'
            />
            <path
              d='M83.1148 76.8891H79.5948V80.1434H83.5073V81.1245H78.4297V72.0977H83.3111V73.0788H79.6112V75.9284H83.1312L83.1189 76.8891H83.1148Z'
              fill='white'
            />
            <path
              d='M87.8752 81.1245V72.0977H89.1466L92.037 76.6601C92.638 77.6045 93.1817 78.5816 93.6601 79.5914C93.5538 78.4181 93.5252 77.2938 93.5252 75.8834V72.1058H94.629V81.1327H93.4557L90.5857 76.5498C89.9643 75.5809 89.4001 74.571 88.8972 73.5367H88.8564C88.9259 74.6814 88.9504 75.7648 88.9504 77.2611V81.1204H87.8711L87.8752 81.1245Z'
              fill='white'
            />
            <path
              d='M104.403 76.5129C104.403 79.62 102.514 81.2717 100.208 81.2717C97.9023 81.2717 96.1484 79.4238 96.1484 76.6887C96.1484 73.8188 97.9064 71.9504 100.343 71.9504C102.78 71.9504 104.403 73.8392 104.403 76.5129ZM97.3994 76.6601C97.3994 78.5898 98.4419 80.3191 100.278 80.3191C102.113 80.3191 103.168 78.6184 103.168 76.5661C103.168 74.7754 102.228 72.8989 100.29 72.8989C98.352 72.8989 97.3994 74.6814 97.3994 76.6601Z'
              fill='white'
            />
            <path
              d='M107.294 73.087H104.551V72.0977H111.239V73.087H108.476V81.1245H107.302V73.087H107.294Z'
              fill='white'
            />
            <path
              d='M115.078 72.0977H119.939V73.0788H116.244V76.0755H119.657V77.0363H116.244V81.1409H115.07V72.0977H115.078Z'
              fill='white'
            />
            <path
              d='M129.312 76.5129C129.312 79.62 127.424 81.2717 125.126 81.2717C122.828 81.2717 121.066 79.4238 121.066 76.6887C121.066 73.8188 122.824 71.9504 125.253 71.9504C127.681 71.9504 129.312 73.8392 129.312 76.5129ZM122.309 76.6601C122.309 78.5898 123.352 80.3191 125.187 80.3191C127.023 80.3191 128.078 78.6184 128.078 76.5661C128.078 74.7754 127.137 72.8989 125.2 72.8989C123.262 72.8989 122.309 74.6814 122.309 76.6601Z'
              fill='white'
            />
            <path
              d='M131.994 72.0977V77.441C131.994 79.4647 132.893 80.3191 134.099 80.3191C135.436 80.3191 136.295 79.432 136.295 77.441V72.0977H137.468V77.3756C137.468 80.1515 136.009 81.2881 134.054 81.2881C132.207 81.2881 130.812 80.2333 130.812 77.4287V72.114L131.998 72.0977H131.994Z'
              fill='white'
            />
            <path
              d='M139.496 81.1245V72.0977H140.768L143.658 76.6601C144.259 77.6004 144.803 78.5816 145.277 79.5914H145.306C145.199 78.4181 145.171 77.2938 145.171 75.8834V72.1058H146.266V81.1327H145.093L142.231 76.5498C141.606 75.5809 141.042 74.5751 140.543 73.5367H140.502C140.567 74.6814 140.596 75.7648 140.596 77.2611V81.1204H139.492L139.496 81.1245Z'
              fill='white'
            />
            <path
              d='M148.293 72.2161C149.115 72.0935 149.945 72.0281 150.775 72.0281C152.447 72.0281 153.644 72.4205 154.429 73.1523C155.308 73.9945 155.774 75.1801 155.701 76.3943C155.766 77.6944 155.3 78.9658 154.405 79.9143C153.559 80.7606 152.165 81.2185 150.411 81.2185C149.703 81.2144 148.996 81.1653 148.293 81.0795V72.2161ZM149.466 80.1964C149.855 80.2536 150.247 80.2782 150.64 80.2659C153.133 80.2659 154.483 78.8718 154.483 76.4352C154.483 74.3052 153.309 72.952 150.828 72.952C150.37 72.9438 149.912 72.9847 149.462 73.0747V80.1964H149.466Z'
              fill='white'
            />
            <path
              d='M49.6353 41.3377C50.1381 41.5871 50.5674 41.9673 50.8781 42.4333C51.1357 42.9852 51.2624 43.5862 51.246 44.1913L51.4218 47.9729C51.4995 48.5943 51.4259 49.228 51.2052 49.8167C50.9599 50.4136 50.3221 50.7488 49.6925 50.6139C50.1463 52.1021 49.9705 53.7128 49.206 55.066C49.0179 55.3481 48.8667 55.6547 48.7645 55.9818C48.7154 56.3743 48.7358 56.7708 48.8217 57.1551C49.0915 59.0766 48.5192 61.0185 47.2559 62.4862C47.0638 62.7233 46.8307 62.9237 46.565 63.0709C46.2175 63.218 45.8414 63.2998 45.4612 63.3039L43.7359 63.4511C43.4293 63.5533 43.0981 63.3856 42.9959 63.0749C42.9796 63.0259 42.9714 62.9768 42.9673 62.9278C41.6591 58.7741 41.0622 54.4283 41.2094 50.0743C41.2789 47.883 41.5405 45.6998 41.9943 43.5535C42.2682 42.2984 42.8079 40.3851 44.1529 39.8741C45.8904 39.2649 48.1308 40.4669 49.6312 41.3295L49.6353 41.3377Z'
              fill='#EEA886'
            />
            <path
              d='M162.91 41.3377C162.407 41.5871 161.978 41.9673 161.667 42.4334C161.41 42.9853 161.283 43.5862 161.3 44.1913L161.124 47.9729C161.046 48.5944 161.12 49.228 161.34 49.8168C161.586 50.4136 162.223 50.7489 162.853 50.614C162.399 52.1021 162.575 53.7088 163.335 55.0661C163.528 55.3482 163.679 55.6548 163.781 55.9818C163.83 56.3743 163.81 56.7709 163.716 57.1552C163.454 59.0767 164.026 61.0186 165.29 62.4863C165.482 62.7234 165.715 62.9237 165.981 63.0709C166.328 63.2181 166.704 63.2998 167.084 63.3039L168.826 63.4756C169.133 63.5778 169.464 63.4102 169.566 63.0995C169.582 63.0504 169.591 63.0014 169.595 62.9523C170.903 58.7987 171.5 54.4528 171.353 50.0988C171.287 47.9034 171.021 45.7203 170.559 43.5781C170.29 42.323 169.975 40.749 168.642 40.242C166.888 39.6043 164.415 40.471 162.91 41.3336V41.3377Z'
              fill='#EEA886'
            />
            <defs>
              <linearGradient
                id='paint0_linear_1444_13604'
                x1='53.2094'
                y1='122.036'
                x2='51.5005'
                y2='54.5345'
                gradientUnits='userSpaceOnUse'
              >
                <stop stop-opacity='0' />
                <stop offset='0.99' />
              </linearGradient>
              <linearGradient
                id='paint1_linear_1444_13604'
                x1='163.653'
                y1='112.731'
                x2='162.516'
                y2='70.3888'
                gradientUnits='userSpaceOnUse'
              >
                <stop stop-opacity='0' />
                <stop offset='0.95' />
              </linearGradient>
              <linearGradient
                id='paint2_linear_1444_13604'
                x1='104.37'
                y1='126.034'
                x2='107.028'
                y2='34.1342'
                gradientUnits='userSpaceOnUse'
              >
                <stop stop-opacity='0' />
                <stop offset='0.99' />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <p class='template-header'>Activation Link Expired</p>
      </div>
      <div class='content'>
        <p class='template-receiver-name'>Hi {{name}},</p>
        <p class='template-message'>
          We noticed that your account activation link has expired. For your security, activation links are only valid
          for a specific time period.
        </p>
        <div class='editable-content'>
          <p>
            Don’t worry, you can easily request a new activation link by clicking the button below:
          </p>
          <a href='{{link}}' style='text-decoration: none; cursor: pointer' class='template-btn'>Send Another Activation
            Link</a>
          <div class='template-farewell'>
            <p>Regards,</p>
            <p>Boilerplate</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class='footer-container'>
        <div class='heading'>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M18.8263 1.90393H22.1998L14.8297 10.3274L23.5 21.7899H16.7112L11.394 14.838L5.30995 21.7899H1.93443L9.81743 12.78L1.5 1.90393H8.46111L13.2674 8.25826L18.8263 1.90393ZM17.6423 19.7707H19.5116L7.44539 3.81706H5.43946L17.6423 19.7707Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3072)'>
              <path
                d='M12.5 2.16094C15.7063 2.16094 16.0859 2.175 17.3469 2.23125C18.5188 2.28281 19.1516 2.47969 19.5734 2.64375C20.1313 2.85938 20.5344 3.12188 20.9516 3.53906C21.3734 3.96094 21.6313 4.35938 21.8469 4.91719C22.0109 5.33906 22.2078 5.97656 22.2594 7.14375C22.3156 8.40937 22.3297 8.78906 22.3297 11.9906C22.3297 15.1969 22.3156 15.5766 22.2594 16.8375C22.2078 18.0094 22.0109 18.6422 21.8469 19.0641C21.6313 19.6219 21.3687 20.025 20.9516 20.4422C20.5297 20.8641 20.1313 21.1219 19.5734 21.3375C19.1516 21.5016 18.5141 21.6984 17.3469 21.75C16.0813 21.8062 15.7016 21.8203 12.5 21.8203C9.29375 21.8203 8.91406 21.8062 7.65313 21.75C6.48125 21.6984 5.84844 21.5016 5.42656 21.3375C4.86875 21.1219 4.46563 20.8594 4.04844 20.4422C3.62656 20.0203 3.36875 19.6219 3.15313 19.0641C2.98906 18.6422 2.79219 18.0047 2.74063 16.8375C2.68438 15.5719 2.67031 15.1922 2.67031 11.9906C2.67031 8.78438 2.68438 8.40469 2.74063 7.14375C2.79219 5.97187 2.98906 5.33906 3.15313 4.91719C3.36875 4.35938 3.63125 3.95625 4.04844 3.53906C4.47031 3.11719 4.86875 2.85938 5.42656 2.64375C5.84844 2.47969 6.48594 2.28281 7.65313 2.23125C8.91406 2.175 9.29375 2.16094 12.5 2.16094ZM12.5 0C9.24219 0 8.83438 0.0140625 7.55469 0.0703125C6.27969 0.126563 5.40313 0.332812 4.64375 0.628125C3.85156 0.9375 3.18125 1.34531 2.51563 2.01562C1.84531 2.68125 1.4375 3.35156 1.12813 4.13906C0.832812 4.90313 0.626563 5.775 0.570313 7.05C0.514063 8.33437 0.5 8.74219 0.5 12C0.5 15.2578 0.514063 15.6656 0.570313 16.9453C0.626563 18.2203 0.832812 19.0969 1.12813 19.8563C1.4375 20.6484 1.84531 21.3188 2.51563 21.9844C3.18125 22.65 3.85156 23.0625 4.63906 23.3672C5.40313 23.6625 6.275 23.8687 7.55 23.925C8.82969 23.9812 9.2375 23.9953 12.4953 23.9953C15.7531 23.9953 16.1609 23.9812 17.4406 23.925C18.7156 23.8687 19.5922 23.6625 20.3516 23.3672C21.1391 23.0625 21.8094 22.65 22.475 21.9844C23.1406 21.3188 23.5531 20.6484 23.8578 19.8609C24.1531 19.0969 24.3594 18.225 24.4156 16.95C24.4719 15.6703 24.4859 15.2625 24.4859 12.0047C24.4859 8.74688 24.4719 8.33906 24.4156 7.05938C24.3594 5.78438 24.1531 4.90781 23.8578 4.14844C23.5625 3.35156 23.1547 2.68125 22.4844 2.01562C21.8188 1.35 21.1484 0.9375 20.3609 0.632812C19.5969 0.3375 18.725 0.13125 17.45 0.075C16.1656 0.0140625 15.7578 0 12.5 0Z'
                fill='#5B5B5D'
              />
              <path
                d='M12.5 5.83594C9.09688 5.83594 6.33594 8.59688 6.33594 12C6.33594 15.4031 9.09688 18.1641 12.5 18.1641C15.9031 18.1641 18.6641 15.4031 18.6641 12C18.6641 8.59688 15.9031 5.83594 12.5 5.83594ZM12.5 15.9984C10.2922 15.9984 8.50156 14.2078 8.50156 12C8.50156 9.79219 10.2922 8.00156 12.5 8.00156C14.7078 8.00156 16.4984 9.79219 16.4984 12C16.4984 14.2078 14.7078 15.9984 12.5 15.9984Z'
                fill='#5B5B5D'
              />
              <path
                d='M20.3469 5.59214C20.3469 6.38902 19.7 7.0312 18.9078 7.0312C18.1109 7.0312 17.4688 6.38433 17.4688 5.59214C17.4688 4.79526 18.1156 4.15308 18.9078 4.15308C19.7 4.15308 20.3469 4.79995 20.3469 5.59214Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3072'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M17.5725 0H13.5278V16.3478C13.5278 18.2957 11.9722 19.8957 10.0363 19.8957C8.10034 19.8957 6.54469 18.2957 6.54469 16.3478C6.54469 14.4348 8.06577 12.8695 9.93257 12.8V8.69567C5.81872 8.7652 2.5 12.1391 2.5 16.3478C2.5 20.5913 5.88786 24 10.0708 24C14.2538 24 17.6416 20.5565 17.6416 16.3478V7.9652C19.1627 9.07827 21.0295 9.73913 23 9.77393V5.66957C19.9579 5.56522 17.5725 3.06087 17.5725 0Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <path
              d='M14.9414 5.65873C15.1495 6.54092 15.9417 7.19811 16.8877 7.19811C17.992 7.19811 18.8873 6.30279 18.8873 5.19842C18.8873 4.09404 17.992 3.19873 16.8877 3.19873C15.922 3.19873 15.1167 3.88311 14.9292 4.79342C13.312 4.96686 12.0492 6.33842 12.0492 8.00061C12.0492 8.00436 12.0492 8.00717 12.0492 8.01092C10.2905 8.08498 8.68453 8.58561 7.40953 9.37592C6.93609 9.00936 6.34172 8.79092 5.69672 8.79092C4.14891 8.79092 2.89453 10.0453 2.89453 11.5931C2.89453 12.7162 3.55453 13.6837 4.50797 14.1309C4.60078 17.384 8.14547 20.0006 12.5058 20.0006C16.8661 20.0006 20.4155 17.3812 20.5036 14.1253C21.4495 13.6753 22.1039 12.7106 22.1039 11.594C22.1039 10.0462 20.8495 8.79186 19.3017 8.79186C18.6595 8.79186 18.068 9.00842 17.5955 9.37217C16.3092 8.57623 14.6855 8.07561 12.9089 8.00904C12.9089 8.00623 12.9089 8.00436 12.9089 8.00154C12.9089 6.81092 13.7939 5.82279 14.9414 5.66061V5.65873ZM7.29703 13.3715C7.34391 12.3553 8.01891 11.5753 8.80359 11.5753C9.58828 11.5753 10.1883 12.3994 10.1414 13.4156C10.0945 14.4319 9.50859 14.8012 8.72297 14.8012C7.93734 14.8012 7.25016 14.3878 7.29703 13.3715ZM16.2089 11.5753C16.9945 11.5753 17.6695 12.3553 17.7155 13.3715C17.7623 14.3878 17.0742 14.8012 16.2895 14.8012C15.5048 14.8012 14.918 14.4328 14.8711 13.4156C14.8242 12.3994 15.4233 11.5753 16.2089 11.5753ZM15.2752 15.7228C15.4223 15.7378 15.5161 15.8906 15.4589 16.0275C14.9761 17.1815 13.8361 17.9925 12.5058 17.9925C11.1755 17.9925 10.0364 17.1815 9.55266 16.0275C9.49547 15.8906 9.58922 15.7378 9.73641 15.7228C10.5989 15.6356 11.5317 15.5878 12.5058 15.5878C13.4798 15.5878 14.4117 15.6356 15.2752 15.7228Z'
              fill='#5B5B5D'
            />
          </svg>

          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3080)'>
              <path
                d='M22.7234 0H2.27187C1.29219 0 0.5 0.773438 0.5 1.72969V22.2656C0.5 23.2219 1.29219 24 2.27187 24H22.7234C23.7031 24 24.5 23.2219 24.5 22.2703V1.72969C24.5 0.773438 23.7031 0 22.7234 0ZM7.62031 20.4516H4.05781V8.99531H7.62031V20.4516ZM5.83906 7.43438C4.69531 7.43438 3.77188 6.51094 3.77188 5.37187C3.77188 4.23281 4.69531 3.30937 5.83906 3.30937C6.97813 3.30937 7.90156 4.23281 7.90156 5.37187C7.90156 6.50625 6.97813 7.43438 5.83906 7.43438ZM20.9516 20.4516H17.3937V14.8828C17.3937 13.5562 17.3703 11.8453 15.5422 11.8453C13.6906 11.8453 13.4094 13.2937 13.4094 14.7891V20.4516H9.85625V8.99531H13.2687V10.5609H13.3156C13.7891 9.66094 14.9516 8.70938 16.6813 8.70938C20.2859 8.70938 20.9516 11.0813 20.9516 14.1656V20.4516Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3080'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class='content'>
          <span>
            Thank you for choosing Boilerplate.com. Need help?
            <a href='https://starlight-nestjs.teams.hng.tech/contact-us' class='contact-support'>Contact our customer
              support</a>
          </span>
          <hr />
          <p>
            You are receiving this email because you signed up at Boilerplate.com. Want to change how you receive these
            emails?
          </p>
          <p>
            You can
            <a href='#' style='color: #111; text-decoration: none'>update your preferences</a>
            or
            <a href='#' style='color: #111; text-decoration: none'>unsubscribe from this list</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>