<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>HNG Boilerplate Email Templates</title>
    <link href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css' rel='stylesheet' />
  </head>
  <body class='bg-gray-100 text-gray-900 min-h-screen'>
    <header class='bg-black text-white p-7 text-center'>
      <h1 class='text-3xl font-bold'>HNG Boilerplate Email Templates</h1>
    </header>
    <main class='container mx-auto p-8'>
      <section class='mb-8'>
        <h2 class='text-2xl font-semibold mb-4'>About the Project</h2>
        <p class='mb-4'>
          This project contains a collection of boilerplate email templates designed for various use cases within the
          HNG 12 boilerplate project. These templates facilitate the seamless integration of email functionality for
          tasks such as account activation, password reset, subscription management, and more.
        </p>
        <p>
          Below you will find links to each of the email templates included in this project. Click on a link to view the
          corresponding template.
        </p>
      </section>
      <section>
        <h2 class='text-2xl font-semibold mb-4'>Email Templates</h2>
        <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4'>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Account-Deactivation.html' class='text-blue-600 hover:underline'>Account Deactivation</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Account-Inactivity-Deactivation.html' class='text-blue-600 hover:underline'>Account Inactivity
              Deactivation</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Activate-Account.html' class='text-blue-600 hover:underline'>Activate Account</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Activation-Link.html' class='text-blue-600 hover:underline'>Activation Link</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Active-Account.html' class='text-blue-600 hover:underline'>Active Account</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Email-Complete.html' class='text-blue-600 hover:underline'>Email Complete</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Email-Verification.html' class='text-blue-600 hover:underline'>Email Verification</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Invoice.html' class='text-blue-600 hover:underline'>Invoice</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='New-Activation-Link.html' class='text-blue-600 hover:underline'>New Activation Link</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='New-Feature-Announcement.html' class='text-blue-600 hover:underline'>New Feature Announcement</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Newsletter.html' class='text-blue-600 hover:underline'>Newsletter</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Password-Reset-Complete-Template.html' class='text-blue-600 hover:underline'>Password Reset
              Complete</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Payment-receipt.html' class='text-blue-600 hover:underline'>Payment Receipt</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Reset-Password-Template.html' class='text-blue-600 hover:underline'>Reset Password</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Subscription-Cancellation-Confirmation.html' class='text-blue-600 hover:underline'>Subscription
              Cancellation Confirmation</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Subscription-Confirmation.html' class='text-blue-600 hover:underline'>Subscription Confirmation</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Subscription-Renewal-Disabled.html' class='text-blue-600 hover:underline'>Subscription Renewal
              Disabled</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Subscription-Renewal-Failed.html' class='text-blue-600 hover:underline'>Subscription Renewal Failed</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Subscription-Renewal-Reminder.html' class='text-blue-600 hover:underline'>Subscription Renewal
              Reminder</a>
          </div>
          <div class='p-4 bg-white rounded shadow'>
            <a href='Welcome-Template.html' class='text-blue-600 hover:underline'>Welcome Template</a>
          </div>
        </div>
      </section>
    </main>
    <footer class='bg-black text-white p-6 text-center'>
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        HNG. All rights reserved.
      </p>
    </footer>
  </body>
</html>