<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>New Feature Announcement</title>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
      * { box-sizing: border-box; margin: 0; padding: 0; font-family: Inter; } body { min-height: 100svh; } header {
      display: flex; width: 100%; height: 7.625rem; justify-content: center; align-items: center; background: rgba(225,
      214, 214, 0.4); } h2 { color: #121a26; font-feature-settings: "liga" off, "clig" off; font-size: 1.5rem;
      font-weight: 600; } .template-main { display: flex; padding: 3.5rem 3.5rem 2rem 3.5rem; flex-direction: column;
      align-items: center; gap: 3.5rem; max-width: 790px; margin: 0 auto; } .heading { display: flex; flex-direction:
      column; justify-content: center; align-items: center; gap: 0.75rem; } .content { display: flex; flex-direction:
      column; gap: 2rem; } .template-header { color: var(--Neutral-Colors-Dark-2, #0a0a0a); text-align: center;
      font-size: 1.5rem; font-weight: 600; } .template-subheader { color: rgba(0, 0, 0, 0.8); text-align: center;
      font-size: 1.125rem; font-weight: 500; } .template-receiver-name { color: #111; font-size: 1.125rem; font-weight:
      600; } .template-welcome-message { color: rgba(17, 17, 17, 0.9); font-size: 1rem; font-weight: 400; }
      .editable-content-title { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600;
      opacity: 0.9; margin-bottom: 1.25rem; } .editable-content-list p { opacity: 0.9; color:
      var(--Neutral-Colors-Dark-2, rgba(17, 17, 17, 0.9)); font-size: 1rem; font-weight: 400; margin-bottom: 1rem; }
      .editable-content-list span { color: var(--Neutral-Colors-Dark-2, #0a0a0a); font-size: 1rem; font-weight: 600; }
      .template-btn { display: flex; height: 2.75rem; padding: 0.5rem 2.5rem; align-items: center; gap: 0.625rem;
      border-radius: 0.5rem; align-self: center; text-decoration: none; cursor: pointer; } .button-fill { border: none;
      color: white; background: #f97316; } .button-outline { border: 1px solid #f97316; color: #f97316; background:
      none; } .button-group { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; } .custom-list-items {
      list-style: none; } .custom-list-items li { display: flex; align-items: center; margin-bottom: 1rem; }
      .custom-list-items li svg { margin-right: 1rem; } .template-farewell p { color: #111; font-size: 0.875rem;
      font-weight: 500; margin-bottom: 0.5rem; } .closing-regards { color: rgba(17, 17, 17, 0.9); font-family: Inter;
      font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; } a { font-weight: 600;
      text-decoration: underline; color: #111; } .closing-regards a:hover { text-decoration: underline; } .link-faq {
      text-decoration: none; color: #f97316; font-weight: 600; } .link-email { text-decoration: none; color: #f97316;
      font-weight: 400; } footer { background: #f3efef; display: flex; width: 100%; padding: 2rem 0; justify-content:
      center; } .footer-container { max-width: 790px; width: 100%; padding: 0 3rem; } footer .heading { display: flex;
      flex-direction: row; align-items: center; gap: 2.0625rem; margin-bottom: 1rem; } footer .content { display: flex;
      flex-direction: column; gap: 1.875rem; color: #5b5b5d; font-size: 0.875rem; font-weight: 400; } footer .content >
      span { margin-block-start: 1.3em; } footer .contact-support { color: #111; font-size: 0.875rem; font-weight: 600;
      text-decoration: underline; } footer hr { border-style: dashed; width: 100%; border-color: #969696; } .expiry-date
      { width: 100%; display: flex; gap: 4px; flex-direction: column; background-color: #f97316; color: white; padding:
      40px; } .expiry-date .text { color: var(#fff); text-align: center; font-family: Inter; font-size: 24px;
      font-style: normal; font-weight: 500; line-height: 27px; } .expiry-date .date { color: var(#fafafa); text-align:
      center; font-family: Inter; font-size: 44px; font-style: normal; font-weight: 700; line-height: normal; }
    </style>
  </head>

  <body>
    <!-- Header -->
    <header class='Header'>
      <h2>
        <svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <circle cx='4.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='4.5' r='4' fill='#F97316' />
          <circle cx='4.5' cy='14.5' r='4' fill='#F97316' />
          <circle cx='14.5' cy='14.5' r='4' fill='#F97316' />
        </svg>
        <span>Boilerplate.</span>
      </h2>
    </header>
    <!-- Body -->
    <div class='template-main'>
      <div class='heading'>
        <div style='margin-bottom: 40px'>
          <svg xmlns='http://www.w3.org/2000/svg' width='178' height='178' viewBox='0 0 178 178' fill='none'>
            <path
              opacity='0.24'
              d='M89.0012 157.238C132.358 157.238 167.506 126.687 167.506 89C167.506 51.3132 132.358 20.762 89.0012 20.762C45.644 20.762 10.4961 51.3132 10.4961 89C10.4961 126.687 45.644 157.238 89.0012 157.238Z'
              fill='#E6E6E6'
            />
            <path
              d='M77.7167 54.9805C77.7167 54.9805 96.8375 52.1646 126.998 11.7942L137.575 95.7176C137.575 95.7176 105.075 75.1373 82.9143 83.3075C82.9143 83.3075 70.9135 70.463 77.7167 54.9805Z'
              fill='#F97316'
            />
            <path
              d='M144.313 96.099C157.481 94.7637 166.155 73.9404 163.686 49.5889C161.216 25.2374 148.539 6.579 135.371 7.91429C122.203 9.24957 113.529 30.0728 115.998 54.4244C118.468 78.7759 131.144 97.4342 144.313 96.099Z'
              fill='#6F492E'
            />
            <path
              d='M59.8284 85.65C59.8284 85.65 57.5714 96.654 68.5469 98.4518C79.5188 100.25 92.2458 128.185 92.2458 128.185L105.802 119.908C105.802 119.908 82.4985 88.4945 89.501 81.7091L59.8249 85.6465L59.8284 85.65Z'
              fill='#F97316'
            />
            <path
              opacity='0.46'
              d='M59.8284 85.65C59.8284 85.65 57.5714 96.654 68.5469 98.4518C79.5188 100.25 92.2458 128.185 92.2458 128.185L105.802 119.908C105.802 119.908 82.4985 88.4945 89.501 81.7091L59.8249 85.6465L59.8284 85.65Z'
              fill='white'
            />
            <path
              d='M120.125 73.838L141.52 66.6432L138.978 41.5773L115.561 43.0974C115.561 43.0974 113.678 56.9209 120.125 73.8415V73.838Z'
              fill='#F97316'
            />
            <path
              opacity='0.18'
              d='M120.125 73.838L141.52 66.6432L138.978 41.5773L115.561 43.0974C115.561 43.0974 113.678 56.9209 120.125 73.8415V73.838Z'
              fill='#000001'
            />
            <path
              d='M141.516 66.6539C145.26 66.2743 147.726 60.3546 147.024 53.432C146.323 46.5093 142.718 41.2052 138.974 41.5848C135.23 41.9645 132.764 47.8841 133.466 54.8068C134.168 61.7294 137.772 67.0336 141.516 66.6539Z'
              fill='#F97316'
            />
            <path
              d='M79.9853 54.4147C79.9853 54.4147 48.4294 61.9085 46.6316 68.5657C44.8338 75.2229 50.4088 90.2852 58.255 90.0467C66.1013 89.8118 82.3456 82.6561 82.3456 82.6561C82.3456 82.6561 74.2608 67.2058 79.9853 54.4147Z'
              fill='#6F492E'
            />
            <path
              d='M19.3594 156.491L68.5657 116.878L83.8345 129.043L57.9177 168.705L19.3594 156.491Z'
              fill='#F4A28C'
            />
            <path
              d='M91.8369 94.5109C91.8369 94.5109 98.6401 93.6921 101.46 100.438C104.279 107.184 104.165 111.577 96.7675 114.016C89.3698 116.451 87.5898 96.6718 87.5898 96.6718L91.8369 94.5109Z'
              fill='#CE8172'
            />
            <path
              d='M84.8945 82.3251L90.886 95.3048L97.2442 91.7128C98.8035 90.8335 99.462 88.9324 98.7856 87.277L96.3898 81.4315C96.3898 81.4315 89.5225 80.3243 84.8981 82.3286L84.8945 82.3251Z'
              fill='#6F492E'
            />
            <path
              d='M67.3438 119.819C67.3438 119.819 69.6364 98.1065 77.4684 95.5148C85.3004 92.9231 94.8376 98.2988 90.2595 104.134C85.6813 109.968 79.8643 103.589 79.8643 103.589L88.8889 121.627L83.8408 129.039L67.3473 119.819H67.3438Z'
              fill='#F4A28C'
            />
            <path
              d='M89.3432 85.9384C90.3613 85.1873 91.7533 85.2122 92.7786 85.9598C93.9712 86.8285 95.2812 88.3059 94.7081 90.3956C93.722 93.9805 87.4528 98.7224 84.9038 96.7964C82.7251 95.1482 85.8615 88.5123 89.3467 85.942L89.3432 85.9384Z'
              fill='#F4A28C'
            />
            <path d='M13.8906 155.109L59.6366 170.164L82.3459 136.95L58.3337 119.986L13.8906 155.109Z' fill='#FFD200' />
            <path
              opacity='0.06'
              d='M74.0058 131.058L41.4531 164.18L59.6376 170.164L82.3468 136.95L74.0058 131.058Z'
              fill='#000001'
            />
          </svg>
        </div>
        <p class='template-header'>
          Introducing Our Latest Feature:
          <br />
          Boilerplate Pro
        </p>
      </div>
      <div class='content'>
        <p class='template-receiver-name'>Hi {{name}},</p>
        <p class='template-welcome-message'>
          We’re thrilled to announce the launch of our newest feature: Boilerplate Pro!   Boilerplate Pro is designed to
          help you create shared spaces for collaboration. Invite team members, share files, and work together
          seamlessly. From project planning to brainstorming sessions, collaborative spaces foster productivity..
          Whether you’re a seasoned user or just getting started, this enhancement will transform your experience.
        </p>

        <p class='template-receiver-name'>Benefits of Boilerplate Pro:</p>
        <ul class='custom-list-items'>
          <li>
            <svg width='64' height='64' viewBox='0 0 24 24' fill='none'>
              <path
                d='M12 0L15.2414 8.75862L24 12L15.2414 15.2414L12 24L8.75862 15.2414L0 12L8.75862 8.75862L12 0Z'
                fill='rgba(249, 115, 22, 0.40)'
              />
            </svg>
            Efficient Team Collaboration: Collaborative Spaces allow you to create dedicated areas for teamwork. Whether
            it’s a project, brainstorming session, or ongoing discussion, team members can collaborate seamlessly within
            these spaces.
          </li>
          <li>
            <svg width='46' height='46' viewBox='0 0 24 24' fill='none'>
              <path
                d='M12 0L15.2414 8.75862L24 12L15.2414 15.2414L12 24L8.75862 15.2414L0 12L8.75862 8.75862L12 0Z'
                fill='rgba(249, 115, 22, 0.40)'
              />
            </svg>
            Improved Accountability: With Collaborative Spaces, accountability becomes clearer. Each team member’s
            contributions are visible within the shared space.
          </li>
        </ul>
      </div>
    </div>

    <div class='expiry-date'>
      <p class='date'>Boilerplate Pro is now live!</p>
      <p class='text'>You can start using it immediately.</p>
    </div>

    <div class='template-main'>
      <div class='content'>
        <div class='closing-regards'>
          <p>
            Want to explore all the details? Click the button below to dive into our comprehensive guide
          </p>
        </div>

        <a href='https://starlight-nestjs.teams.hng.tech/' class='template-btn button-fill'>Learn More</a>
        <div class='template-farewell'>
          <p>Regards,</p>
          <p>Boilerplate</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class='footer-container'>
        <div class='heading'>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M18.8263 1.90393H22.1998L14.8297 10.3274L23.5 21.7899H16.7112L11.394 14.838L5.30995 21.7899H1.93443L9.81743 12.78L1.5 1.90393H8.46111L13.2674 8.25826L18.8263 1.90393ZM17.6423 19.7707H19.5116L7.44539 3.81706H5.43946L17.6423 19.7707Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3072)'>
              <path
                d='M12.5 2.16094C15.7063 2.16094 16.0859 2.175 17.3469 2.23125C18.5188 2.28281 19.1516 2.47969 19.5734 2.64375C20.1313 2.85938 20.5344 3.12188 20.9516 3.53906C21.3734 3.96094 21.6313 4.35938 21.8469 4.91719C22.0109 5.33906 22.2078 5.97656 22.2594 7.14375C22.3156 8.40937 22.3297 8.78906 22.3297 11.9906C22.3297 15.1969 22.3156 15.5766 22.2594 16.8375C22.2078 18.0094 22.0109 18.6422 21.8469 19.0641C21.6313 19.6219 21.3687 20.025 20.9516 20.4422C20.5297 20.8641 20.1313 21.1219 19.5734 21.3375C19.1516 21.5016 18.5141 21.6984 17.3469 21.75C16.0813 21.8062 15.7016 21.8203 12.5 21.8203C9.29375 21.8203 8.91406 21.8062 7.65313 21.75C6.48125 21.6984 5.84844 21.5016 5.42656 21.3375C4.86875 21.1219 4.46563 20.8594 4.04844 20.4422C3.62656 20.0203 3.36875 19.6219 3.15313 19.0641C2.98906 18.6422 2.79219 18.0047 2.74063 16.8375C2.68438 15.5719 2.67031 15.1922 2.67031 11.9906C2.67031 8.78438 2.68438 8.40469 2.74063 7.14375C2.79219 5.97187 2.98906 5.33906 3.15313 4.91719C3.36875 4.35938 3.63125 3.95625 4.04844 3.53906C4.47031 3.11719 4.86875 2.85938 5.42656 2.64375C5.84844 2.47969 6.48594 2.28281 7.65313 2.23125C8.91406 2.175 9.29375 2.16094 12.5 2.16094ZM12.5 0C9.24219 0 8.83438 0.0140625 7.55469 0.0703125C6.27969 0.126563 5.40313 0.332812 4.64375 0.628125C3.85156 0.9375 3.18125 1.34531 2.51563 2.01562C1.84531 2.68125 1.4375 3.35156 1.12813 4.13906C0.832812 4.90313 0.626563 5.775 0.570313 7.05C0.514063 8.33437 0.5 8.74219 0.5 12C0.5 15.2578 0.514063 15.6656 0.570313 16.9453C0.626563 18.2203 0.832812 19.0969 1.12813 19.8563C1.4375 20.6484 1.84531 21.3188 2.51563 21.9844C3.18125 22.65 3.85156 23.0625 4.63906 23.3672C5.40313 23.6625 6.275 23.8687 7.55 23.925C8.82969 23.9812 9.2375 23.9953 12.4953 23.9953C15.7531 23.9953 16.1609 23.9812 17.4406 23.925C18.7156 23.8687 19.5922 23.6625 20.3516 23.3672C21.1391 23.0625 21.8094 22.65 22.475 21.9844C23.1406 21.3188 23.5531 20.6484 23.8578 19.8609C24.1531 19.0969 24.3594 18.225 24.4156 16.95C24.4719 15.6703 24.4859 15.2625 24.4859 12.0047C24.4859 8.74688 24.4719 8.33906 24.4156 7.05938C24.3594 5.78438 24.1531 4.90781 23.8578 4.14844C23.5625 3.35156 23.1547 2.68125 22.4844 2.01562C21.8188 1.35 21.1484 0.9375 20.3609 0.632812C19.5969 0.3375 18.725 0.13125 17.45 0.075C16.1656 0.0140625 15.7578 0 12.5 0Z'
                fill='#5B5B5D'
              />
              <path
                d='M12.5 5.83594C9.09688 5.83594 6.33594 8.59688 6.33594 12C6.33594 15.4031 9.09688 18.1641 12.5 18.1641C15.9031 18.1641 18.6641 15.4031 18.6641 12C18.6641 8.59688 15.9031 5.83594 12.5 5.83594ZM12.5 15.9984C10.2922 15.9984 8.50156 14.2078 8.50156 12C8.50156 9.79219 10.2922 8.00156 12.5 8.00156C14.7078 8.00156 16.4984 9.79219 16.4984 12C16.4984 14.2078 14.7078 15.9984 12.5 15.9984Z'
                fill='#5B5B5D'
              />
              <path
                d='M20.3469 5.59214C20.3469 6.38902 19.7 7.0312 18.9078 7.0312C18.1109 7.0312 17.4688 6.38433 17.4688 5.59214C17.4688 4.79526 18.1156 4.15308 18.9078 4.15308C19.7 4.15308 20.3469 4.79995 20.3469 5.59214Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3072'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
          <svg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M17.5725 0H13.5278V16.3478C13.5278 18.2957 11.9722 19.8957 10.0363 19.8957C8.10034 19.8957 6.54469 18.2957 6.54469 16.3478C6.54469 14.4348 8.06577 12.8695 9.93257 12.8V8.69567C5.81872 8.7652 2.5 12.1391 2.5 16.3478C2.5 20.5913 5.88786 24 10.0708 24C14.2538 24 17.6416 20.5565 17.6416 16.3478V7.9652C19.1627 9.07827 21.0295 9.73913 23 9.77393V5.66957C19.9579 5.56522 17.5725 3.06087 17.5725 0Z'
              fill='#5B5B5D'
            />
          </svg>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <path
              d='M14.9414 5.65873C15.1495 6.54092 15.9417 7.19811 16.8877 7.19811C17.992 7.19811 18.8873 6.30279 18.8873 5.19842C18.8873 4.09404 17.992 3.19873 16.8877 3.19873C15.922 3.19873 15.1167 3.88311 14.9292 4.79342C13.312 4.96686 12.0492 6.33842 12.0492 8.00061C12.0492 8.00436 12.0492 8.00717 12.0492 8.01092C10.2905 8.08498 8.68453 8.58561 7.40953 9.37592C6.93609 9.00936 6.34172 8.79092 5.69672 8.79092C4.14891 8.79092 2.89453 10.0453 2.89453 11.5931C2.89453 12.7162 3.55453 13.6837 4.50797 14.1309C4.60078 17.384 8.14547 20.0006 12.5058 20.0006C16.8661 20.0006 20.4155 17.3812 20.5036 14.1253C21.4495 13.6753 22.1039 12.7106 22.1039 11.594C22.1039 10.0462 20.8495 8.79186 19.3017 8.79186C18.6595 8.79186 18.068 9.00842 17.5955 9.37217C16.3092 8.57623 14.6855 8.07561 12.9089 8.00904C12.9089 8.00623 12.9089 8.00436 12.9089 8.00154C12.9089 6.81092 13.7939 5.82279 14.9414 5.66061V5.65873ZM7.29703 13.3715C7.34391 12.3553 8.01891 11.5753 8.80359 11.5753C9.58828 11.5753 10.1883 12.3994 10.1414 13.4156C10.0945 14.4319 9.50859 14.8012 8.72297 14.8012C7.93734 14.8012 7.25016 14.3878 7.29703 13.3715ZM16.2089 11.5753C16.9945 11.5753 17.6695 12.3553 17.7155 13.3715C17.7623 14.3878 17.0742 14.8012 16.2895 14.8012C15.5048 14.8012 14.918 14.4328 14.8711 13.4156C14.8242 12.3994 15.4233 11.5753 16.2089 11.5753ZM15.2752 15.7228C15.4223 15.7378 15.5161 15.8906 15.4589 16.0275C14.9761 17.1815 13.8361 17.9925 12.5058 17.9925C11.1755 17.9925 10.0364 17.1815 9.55266 16.0275C9.49547 15.8906 9.58922 15.7378 9.73641 15.7228C10.5989 15.6356 11.5317 15.5878 12.5058 15.5878C13.4798 15.5878 14.4117 15.6356 15.2752 15.7228Z'
              fill='#5B5B5D'
            />
          </svg>

          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'>
            <g clip-path='url(#clip0_23775_3080)'>
              <path
                d='M22.7234 0H2.27187C1.29219 0 0.5 0.773438 0.5 1.72969V22.2656C0.5 23.2219 1.29219 24 2.27187 24H22.7234C23.7031 24 24.5 23.2219 24.5 22.2703V1.72969C24.5 0.773438 23.7031 0 22.7234 0ZM7.62031 20.4516H4.05781V8.99531H7.62031V20.4516ZM5.83906 7.43438C4.69531 7.43438 3.77188 6.51094 3.77188 5.37187C3.77188 4.23281 4.69531 3.30937 5.83906 3.30937C6.97813 3.30937 7.90156 4.23281 7.90156 5.37187C7.90156 6.50625 6.97813 7.43438 5.83906 7.43438ZM20.9516 20.4516H17.3937V14.8828C17.3937 13.5562 17.3703 11.8453 15.5422 11.8453C13.6906 11.8453 13.4094 13.2937 13.4094 14.7891V20.4516H9.85625V8.99531H13.2687V10.5609H13.3156C13.7891 9.66094 14.9516 8.70938 16.6813 8.70938C20.2859 8.70938 20.9516 11.0813 20.9516 14.1656V20.4516Z'
                fill='#5B5B5D'
              />
            </g>
            <defs>
              <clipPath id='clip0_23775_3080'>
                <rect width='24' height='24' fill='white' transform='translate(0.5)' />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class='content'>
          <span>
            Thank you for choosing Boilerplate.com. Need help?
            <a href='https://starlight-nestjs.teams.hng.tech/contact-us' class='contact-support'>Contact our customer
              support</a>
          </span>
          <hr />
          <p>
            You are receiving this email because you signed up at Boilerplate.com. Want to change how you receive these
            emails?
          </p>
          <p>
            You can
            <a href='#' style='color: #111; text-decoration: none'>update your preferences</a>
            or
            <a href='#' style='color: #111; text-decoration: none'>unsubscribe from this list</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>